.template-card {
  list-style: none;
  margin: 10px;
  border-radius: 10px;
}

.template-img {
  height: 100px;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.thumbnail-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .template-img {
    height: 90px;
    width: 90px;
  }

  .template-card {
    margin: 5px;
    border-radius: 8px;
  }
}
